@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Shoe Box</h1>
    <p class="lead">Welcome to The Shoe Box.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            Here at The Shoe box we want to keep you up and walking. We find the shoes that are best for you then send them to you.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prices</h2>
        <p>We offer 3 types of shoe boxes each at a different price. Please view our prices page for more information on the prices.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Prices &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>We are a start up company based in Milwaukee, Wi.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">About &raquo;</a></p>
    </div>
</div>